<div class="modal-header">
    <h3 class="modal-title">Sign up</h3>
    <button class="btn btn-warning" type="button" ng-click="cancel()">X</button>
</div>
<div class="modal-body">
    <div class="">
        <form novalidate>
             <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="fName" class="form-control" placeholder="Sam" ng-model="user.username" ng-required="true"/>
             </div>
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password"  class="form-control" placeholder="Smith" ng-model="user.password" required/>
            </div>
            <!-- <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div> -->
            <a href="/password">forget password</a>
            <button type="button" name="login" type="button" ng-click="login()">Login</button>
            <div class="">
                <button type="button" class="btn btn-primary" name="esignup" ng-click="signup()">Employee Signup</button>
                <button type="button" class="btn btn-primary" name="csignup" ng-click="company()">Company Signup</button>
            </div>
        </form>
    </div>
</div>
