<section class="row">
    <div class="col-md-3">
        <form ng-upload='avater()'>
            <label for="avater">Image</label>
            <input type="file" accept="image/*" image="image"/>
            <img ng-show="avater" ng-src="{{avater.url}}" type="{{avater.file.type}}" />
            <button type="submit" ng-click="avater" disabled>Add</button>
        </form>
    </div>
    <section class="col-md-9">
        <article class="">
            <div>
                <div>Name: <a href="#" editable-text="user.name">{{ user.name || 'empty' }}</a></div>
                <div>Company: <a href="#" editable-text="user.company">{{ user.company || 'empty' }}</a></div>
                <div>Position: <a href="#" editable-text="user.position">{{ user.position || 'empty' }}</a></div>
                <div>Description: <a href="#" editable-textarea="user.description" e-rows="7" e-cols="40">{{ user.description || 'no description' }}</a></div>
            </div>
        </article>
    </section>
</section>
