<section id="CTA">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
         <!-- Indicators -->
         <div class="carousel-inner" role="listbox">
           <div class="item active">
             <img class="first-slide" src="../assets/images/cta3.jpeg" alt="Home page Call to action image">
             <div class="container">
               <div class="carousel-caption">
                 <h1>Providing your daliy work needs</h1>
                 <p>No more missing days and records. </p>
                 <p>
                    WorkPunch bring valued time back into your lives.
                 </p>
                 <p><a class="btn btn-lg btn-success cta-btn" href="#MainContent" role="button">Get Started</a></p>
               </div>
             </div>
           </div>
         </div>
    </div><!-- /.carousel -->
</section>
<section  class="container body">
    <h2>List Of Features</h2>
    <section>
        <img src="" alt="" />
        <article class="">
            <h3>Time Management</h3>
        </article>
    </section>
    <section>
        <img src="" alt="" />
        <article class="">
            <h3>Vacation Manager</h3>
        </article>
    </section>
    <section>
        <img src="" alt="" />
        <article class="">
            <h3>Leave Application</h3>
        </article>
    </section>
</section>
<!-- footer -->
<footer>
    <div class="container">
        <section id="top-footer">
            <section id="workpunch" class="col-md-4">
                <h2>about</h2>
                <p>Workpunch</p>
                <p>Stay informed by subscribing to out network. Learn about what we have plan for you as we take this journey together. </p>
                <form>
                    <label for="search">Subscribe to our newsletter:</label>
                    <input type="text" name="Email address" placeholder="Email address">
                    <label for="submit">Submit</label>
                    <button type="submit" name="button" class="btn btn-default">Submit</button>
                </form>
            </section>
            <section id="navigation" class="col-md-4">
                <h2>Navigation</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/prices">Prices</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </section>
            <section id="learn" class="col-md-4">
                <h2>Learn more</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/home">About Us</a></li>
                    <li><a href="/features">Privacy Policy</a></li>
                    <li><a href="/prices">Terms of Service</a></li>
                    <li><a href="/contact">Help & Support</a></li>
                    <li><a href="/contact">Meet the Team</a></li>
                </ul>
            </section>
        </section>
    </div>
    <section id="bottom-footer">
        <div class="container">
            <p class="col-md-8">Copyright &copy; 2016 <a href="#">Workpunch</a>.</p>
            <ul class="col-md-4">
                <li><a herf="">Facebook</a></li>
                <li><a herf="">Twitter</a></li>
                <li><a herf="">Google +</a></li>
            </ul>
        </div>
    </section>
</footer>
