<section id="CTA">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
         <!-- Indicators -->
         <div class="carousel-inner" role="listbox">
           <div class="item active">
             <img class="first-slide" src="../assets/images/cta1.jpeg" alt="First slide">
             <div class="container">
               <div class="carousel-caption">
                 <h1>Providing your daliy work needs</h1>
                 <p>No more missing days and records. </p>
                 <p>
                    WorkPunch is the time mangament app you can trust.
                 </p>
                 <p><a class="btn btn-lg btn-success cta-btn" href="#" role="button">Get Started</a></p>
               </div>
             </div>
           </div>
         </div>
    </div><!-- /.carousel -->
</section>
<!-- Services -->
<div class="container body">
    <!-- features icon list -->
    <section id="features">
        <div class="row">
            <h2 class="heading">Providing Software you can Trust</h2>
            <div class="col-xs-6 col-md-offset-1 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../assets/images/clock.png" alt="" />
                </a>
            </div>
            <!--  -->
            <div class="col-xs-3 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../assets/images/vacation.png" alt="" />
                </a>
            </div>
            <!--  -->
            <div class="col-xs-6 col-md-2 ">
                <a href="#" class="thumbnail">
                    <img src="../assets/images/sick.png" alt="" />
                </a>
            </div>
            <!--  -->
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../assets/images/task.png" alt="" />
                </a>
            </div>
            <!--  -->
            <div class="col-xs-6 col-md-2  ">
                <a href="#" class="thumbnail">
                    <img src="../assets/images/notification2.png" alt="" />
                    <!-- <link rel="stylesheet" href="../assets/images/notification.svg" media="screen" title="no title" charset="utf-8" /> -->
                </a>
            </div>
        </div>
    </section>
    <!-- How it works -->
    <section id="MainContent">
        <div class="row">
            <h2 class="heading">How it works</h2>
            <div class="col-sm-12 col-md-5">
                <p>
                    Workpunch is a work application for both the employer and employee to help increase productive, through easy of use and efficiency. We have provide at short tutorial for you to help you get start.
                </p>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="embed-responsive embed-responsive-16by9 item">
                  <!-- <iframe class="" src="..."></iframe> -->
                  <iframe src="" width="" height=""></iframe>
                </div>

            </div>
        </div>
    </section>
    <!-- Services - what we bring -->
    <section id="services">
        <div class="row">
            <h2 class="heading">Why choose us?</h2>
            <section class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <h3>Easy of use</h3>
                    <p>
                        We provide a simple pathform for you our value users/customers. Clock in at a moment notice, check your sick leave days. Time for vaction, we have got you covered.
                    </p>
                </div>
            </section>
            <section class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <h3>Customer Review</h3>
                    <p>
                        See what people are saying about us. We value your input and feedback.
                    </p>
                </div>
            </section>
            <section class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <h3>Accessibility</h3>
                    <p>
                        Clock in from any smart phone or laptop, in 40 second or less. View your own hours at your pleasure. With real time data your information is always at your figure tips. Feel free to contact us if you need help.
                    </p>
                </div>
            </section>
        </div>
    </section>
</div>


<!-- footer -->
<footer>
    <div class="container">
        <section id="top-footer">
            <section id="workpunch" class="col-md-4">
                <h2>about</h2>
                <p>Workpunch</p>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <form>
                    <label for="search">Subscribe to our newsletter:</label>
                    <input type="text" name="Email address" placeholder="Email address">
                    <label for="submit">Submit</label>
                    <input type="submit" value="submit">
                </form>
            </section>
            <section id="navigation" class="col-md-4">
                <h2>Navigation</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/prices">Prices</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </section>
            <section id="learn" class="col-md-4">
                <h2>Learn more</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/home">About Us</a></li>
                    <li><a href="/features">Privacy Policy</a></li>
                    <li><a href="/prices">Terms of Service</a></li>
                    <li><a href="/contact">Help & Support</a></li>
                    <li><a href="/contact">Meet the Team</a></li>
                </ul>
            </section>
        </section>
    </div>
    <section id="bottom-footer">
        <div class="container">
            <p class="col-md-8">Copyright &copy; 2016 <a href="#">ThemeSphere</a>. Powered by <a href="#">WordPress</a>.</p>
            <ul class="col-md-4">
                <li><a herf="">Facebook</a></li>
                <li><a herf="">Twitter</a></li>
                <li><a herf="">Google +</a></li>
            </ul>
        </div>
    </section>
</footer>
 <!-- Time is important us, and hopeful to you as well which is why  -->
