<div class="container">
    <div class="row">
        <form novalidate>
             <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="fName" class="form-control" placeholder="Sam" ng-model="user.username" ng-required="true"/>
             </div>
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password"  class="form-control" placeholder="Smith" ng-model="user.password" required/>
            </div>
            <button type="button" name="login" class="btn btn-primary" ng-click="login()">Login</button>
            <p>
                <a href="#">Forget Password?</a>
            </p>
        </form>
    </div>
</div>
