<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6">
            <form ng-submit="register()">
                <div class="form-group">
                    <label for="exampleInputText">Employee ID</label>
                    <input type="text" class="form-control" id="exampleInputText" placeholder="Employee ID" ng-model=" user.employeeId" >
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="exampleInputText" placeholder="username" ng-model="user.username" >
                </div>
                <div class="form-group">
                    <label for="employeeId">Password</label>
                    <input type="password" class="form-control" id="employeeId" placeholder="Password" ng-model="user.password">
                </div>
                <div class="form-group">
                    <label for="fName">First Name</label>
                    <input type="text" class="form-control" id="fName" placeholder="John" ng-model="user.firstName">
                </div><div class="form-group">
                    <label for="lName">Last Name</label>
                    <input type="text" class="form-control" id="lName" placeholder="Smith" ng-model="user.lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
                </div>
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" id="company" placeholder="Full Sail" ng-model="user.company">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="/" ><button type="button" class="main btn btn-primary">Back</button></a>
            </form>
        </div>
    </div>
</div>
