<section class="wallpaper">
    <img src="../../assets/images/wallpapercity.jpeg" alt="wallpaper city view take by Drew Coffman">
</section>
<div class="container">
    <div class="row">
        <section>
            <article>
                <h3>Welcome</h3>
            </article>
        </section>
        <section>
            <uib-tabset active="active">
              <uib-tab index="0">
                  <uib-tab-heading>
                      <i class="glyphicon glyphicon-user"></i> Employees
                  </uib-tab-heading>
                  <table class="table table-striped">
                      <tr>
                          <th>
                              EmployeeID
                          </th>
                          <th>
                              First Name
                          </th>
                          <th>
                              Email
                          </th>
                          <th>
                              Last Name
                          </th>
                      </tr>
                      <tr ng-repeat="employees in employeeRecords">
                          <td>
                              {{ employees.employeeID }}
                          </td>
                          <td>
                              {{ employees.firstName }}
                          </td>
                          <td>
                              {{employees.lastName}}
                          </td>
                          <td>
                              {{employees.email}}
                          </td>
                      </tr>
                  </table>
              </uib-tab>
            </uib-tabset>
        </section>
    </div>
</div>
