<!-- Dashboard Wallpaper -->
<section class="wallpaper">
    <!-- <img ng-show="wallpaper" ng-src="{{wallpaper.url}}" type="{{wallpaper.file.type}}" alt="wallpaper image"> -->
    <img src="../../assets/images/wallpaper1.jpeg" alt="Wallpaper ocean view image of the sun setting in greece take by Jake Barford" />
    <section class="content">
        <div class="container">
            <div class="col-md-3 text">
                <section>
                    <img class="img-responsive img-rounded" src="{{user.avatar || employee.avatar}}" alt="User avatar goes here"/>
                    <form ng-submit="addAvatar()">
                        <input type="filepicker" data-fp-apikey="A86XHGWhSy6idD2jtHwOwz" ng-model="user.avatar" />
                        <button type="submit" name="button">Upload</button>
                    </form>
                </section>
            </div>
            <section class="col-md-9">
                <article class="profile-details">
                    <div >
                        <div><em class="title">Name: </em>{{ employee.first_name }} {{ employee.last_name }}</div>
                        <div><em class="title">EmployeeID: </em>{{ employee.employee_id }}</div>
                        <div><em class="title">Company: </em><a href="#" editable-text="user.company" onaftersave="addPost()">{{ user.company || employee.company || 'empty' }}</a></div>
                        <div><em class="title">Position: </em><a href="#" editable-text="user.position" onaftersave="addPost()">{{ user.position || employee.position || 'empty' }}</a></div>
                        <!-- <div><em class="title">Description: </em><a href="#" editable-textarea="user.description" e-rows="4" e-cols="30" onaftersave="addPost()">{{ user.description || 'no description' }}</a></div> -->
                    </div>
                </article>
            </section>
        </div>
    </section>
</section>
<div class="container-fluid">
    <div class="row">
        <!-- Dashboard Sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li><h2 class="sidebar-heading">WorkPunch</h2></li>
            </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" ng-click="tab = 0">Time Punch <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click="tab = 1">Sick Leave</a></li>
            <li class="active"><a href="#" ng-click="tab = 2">Account</a></li>
            <li class="active"><a href="#" ng-click="tab = 3">Setting</a></li>
          </ul>
      </div><!-- End Dashboard Sidebar -->
        <!-- Dashboard Body Content -->
        <div class="col-sm-9 col-md-10 main">
            <!-- Sidebar Navigation Tab -->
            <uib-tabset active="tab" id="dashboard">
                    <!-- <h1 class="page-header">Dashboard</h1> -->
                <!-- Switch to Timepunch -->
                <uib-tab index="0" heading="Time Punch" class="page-header">
                    <div class="panel {{panelClass || 'panel-default'}}">
                        <div class="panel-heading">
                            <uib-tabset>
                                <h2>Time</h2>
                                <uib-tab index="0" heading="Time">
                                    <section class="timepunch">
                                        <div ng-hide="dateOut || dateIn">
                                            <h3 class="timepunch-heading">Check In</h3>
                                            <div> <ds-widget-clock show-digital digital-format="'EEEE, MMMM d, yyyy'" ng-model="date"></ds-widget-clock></div>
                                            <!-- theme="blue-light" -->
                                            <div><ds-widget-clock show-digital digital-format="'hh:mm:ss a'" ng-model="time"></ds-widget-clock></div>
                                            <button type="button" name="button" class="btn btn-lg btn-success cta-btn" ng-click="checkIn()" ng-disabled="checked" >Punch In</button>
                                        </div>
                                        <div ng-show="dateIn && !dateOut">
                                            <h3 class="timepunch-heading">Check Out</h3>
                                            <div><ds-widget-clock show-digital digital-format="'EEEE, MMMM d, yyyy'" ng-model="date"></ds-widget-clock></div>
                                            <!-- theme="blue-light" -->
                                            <div><ds-widget-clock show-digital digital-format="'hh:mm:ss a'" ng-model="time"></ds-widget-clock></div>
                                            <button type="button" name="button" class="btn btn-lg btn-success cta-btn" ng-click="checkOut()">Punch Out</button>
                                        </div>
                                        <div ng-show="dateIn && dateOut">
                                            <h3 class="timepunch-heading">Next Check In</h3>
                                            <div> <ds-widget-clock show-digital digital-format="'EEEE, MMMM d, yyyy'"></ds-widget-clock></div>
                                            <!-- theme="blue-light" -->
                                            <div><ds-widget-clock show-digital digital-format="'hh:mm:ss a'"></ds-widget-clock></div>
                                            <button type="button" name="button" class="btn btn-lg btn-success cta-btn" ng-disabled="!checked" >Punch In</button>
                                        </div>
                                    </section>
                                </uib-tab>
                                <!-- Overtime -->
                                <uib-tab index="1" heading="Overtime">
                                    <section>
                                        <p>
                                            <em>Note: this information is private and as such will not be stored!</em>
                                        </p>
                                        <form ng-submit="overtime()" class="col-md-8 overtime timepunch">
                                            <h3>Calculator</h3>
                                            <div class="form-group">
                                                <label for="amount">Amount per hour</label>
                                                <input type="text" class="form-control" id="salary" placeholder="40" ng-model="amount">
                                            </div>
                                            <div class="form-group">
                                                <label for="amount">Rate per hour</label>
                                                <select class="form-option" id="rate" ng-model="rate" ng-options="opt for opt in options.rate" ></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="hours">Number of hours</label>
                                                <select class="form-option" id="hours" ng-model="time" ng-options="opt for opt in options.time" ></select>
                                            </div>
                                            <button type="button" name="button" class="btn btn-primary" ng-click="total()">Get Total Now</button>
                                        </form>
                                    </section>
                                    <section class="col-md-4 overtime timepunch">
                                        <h3>Total</h3>
                                        <p ng-show="!total">
                                            ${{amount * rate * time}}
                                        </p>
                                    </section>
                                </uib-tab>
                                <uib-tab index="2" heading="Update">
                                    <p>
                                        <em>Request to modify check in or check out time</em>
                                    </p>
                                    <section ng-hide="modifyForm">
                                        <form ng-submit="modify()">
                                            <div class="form-group">
                                                <label for="date">Date of inquiry</label>
                                                <input type="date" class="form-control" id="date" placeholder="01/01/2016" ng-model="modify.get_date" >
                                            </div>
                                            <div class="form-group">
                                                <label for="time">Time</label>
                                                <input type="text" class="form-control" id="time" placeholder="8am" ng-model="modify.new_time" >
                                            </div>
                                            <div class="form-group">
                                                <label for="t">Select</label>
                                                <select class="form-option" id="t" ng-model="modify.request" ng-options="opt for opt in options.text" ></select>
                                            </div>
                                            <div class="form-group">
                                                <label>Reason for change</label>
                                                <textarea rows="4" cols="50" class="form-textarea" ng-model="modify.description"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit now</button>
                                        </form>
                                    </section>
                                    <section ng-show="modifyForm" class="timepunch">
                                        <h3 class="timepunch-heading">Thank You</h3>
                                        <p>
                                            Your request has been receive and will be reviewed before beening update.
                                        </p>
                                    </section>
                                </uib-tab>
                                <uib-tab index="3" heading="Logs">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Clocked In At
                                            </th>
                                            <th>
                                                Clocked Out At
                                            </th>

                                        </tr>
                                        <tr ng-repeat="time in times">
                                            <td>
                                                {{ employee.first_name }} {{ employee.last_name }}
                                            </td>
                                            <td>
                                                {{time.clock_in  || time.clock_out | date : 'longDate'}}
                                            </td>
                                            <td>
                                                {{time.clock_in | date : 'mediumTime'}}
                                            </td>
                                            <td>
                                                {{time.clock_out | date : 'mediumTime'}}
                                            </td>
                                        </tr>
                                    </table>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </uib-tab>  <!-- End Switch to Timepunch  -->
                <!-- Switch to Sick Leave -->
                <uib-tab index="1" heading="Sick Leave" class="page-header">
                    <div class="panel {{panelClass || 'panel-default'}}">
                        <div class="panel-heading">
                            <uib-tabset id="tabsNav">
                                <h2>Sick Leave</h2>
                                <uib-tab index="0" heading="Form">
                                    <p>
                                        <em>To fill out this form please fill out the following field!</em>
                                    </p>
                                    <section>
                                        <div class="">

                                            <form ng-submit="sickLeave($files)" ng-hide="submitted" class="timepunch">
                                                <div class="form-group">
                                                    <label for="fName">Number Of Days</label>
                                                    <select class="form-option" ng-model="user.days" ng-options="opt for opt in options.time" ng-required="true"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="file">Sick Leave Slip</label>
                                                    <input type="filepicker" data-fp-apikey="A86XHGWhSy6idD2jtHwOwz" ng-model="user.file" />{{user.file}}
                                                </div>
                                                <button type="submit" class="btn btn-default" >Sumbit</button>
                                            </form>
                                        </div>
                                        <!-- <section class="col-sm-5">
                                            <h4>Example Form</h4>
                                            <img src="" alt="" />
                                        </section> -->
                                    </section>
                                    <div class="timepunch" ng-show="submitted">
                                        <h3 class="timepunch-heading">Thank You</h3>
                                        <p>
                                            Your form has been accepted and is waiting for review by your supervisor/manager. We are sorry to heard that you are not feeling well at this time. Thank you for think the time to inform us and hope you feel better soon.
                                        </p>
                                    </div>
                                </uib-tab>
                                <uib-tab index="1" heading="View">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Day Out
                                            </th>
                                            <th>
                                                Doctor Slip
                                            </th>
                                        </tr>
                                        <tr ng-repeat="x in sick">
                                            <td>
                                                {{ employee.first_name }} {{ employee.last_name }}
                                            </td>
                                            <td>
                                                {{x.days_out_sick}}
                                            </td>
                                            <td>
                                                <img src="{{x.slip}}" class="img-responsive img-rounded img-sick" />
                                            </td>
                                        </tr>
                                    </table>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </uib-tab> <!-- End Switch to Sick Leave  -->
                <!-- Switch to user account -->
                <uib-tab index="2" heading="Account" class="page-header">
                    <div class="panel {{panelClass || 'panel-default'}}">
                        <div class="panel-heading">
                            <uib-tabset id="tabsNav">
                                <h2>Edit</h2>
                                <uib-tab index="0" heading="Account">
                                    <section class="setting" ng-hide="updateName || updateUser || updateEmail || updateID">
                                        <h3>General Account Setting</h3>
                                        <p>
                                            Name: {{ employee.first_name }} {{ employee.last_name }}
                                            <a href="#" role="button" ng-click="editName()">Edit</a>
                                        </p>
                                        <p>
                                            Username: {{employee.username}}
                                            <a href="#" role="button" ng-click="editUser()">Edit</a>
                                        </p>
                                        <p>
                                            Email: {{employee.email}}
                                            <a href="#" role="button" ng-click="editEmail()">Edit</a>
                                        </p>
                                    </section>
                                    <section ng-show="updateUser" class="timepunch">
                                        <form ng-submit="addPost()">
                                            <h3>Update Username or password</h3>
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" id="exampleInputText" placeholder="username" ng-model="user.username" ng-required="true">
                                            </div>
                                            <div class="form-group">
                                                <label for="employeeId">Password</label>
                                                <input type="password" class="form-control" id="employeeId" placeholder="Password" ng-model="user.password">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit now</button>
                                            <button type="button" class="btn btn-default" ng-click="back()">Back</button>
                                        </form>
                                    </section>
                                    <section ng-show="updateName" class="timepunch">
                                        <form ng-submit="addPost()">
                                            <h3>Update Name</h3>
                                            <div class="form-group">
                                                <label for="fName">First Name</label>
                                                <input type="text" class="form-control" id="fName" placeholder="John" ng-model="user.firstName" ng-required="true">
                                            </div>
                                            <div class="form-group">
                                                <label for="lName">Last Name</label>
                                                <input type="text" class="form-control" id="lName" placeholder="Smith" ng-model="user.lastName" ng-required="true">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit now</button>
                                            <button type="button" class="btn btn-default" ng-click="back()">Back</button>
                                        </form>
                                    </section>
                                    <section ng-show="updateEmail" class="timepunch">
                                        <form ng-submit="addEmail()">
                                            <h3>Update Email</h3>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email" ng-required="true">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit now</button>
                                            <button type="button" class="btn btn-default" ng-click="back()">Back</button>
                                        </form>
                                    </section>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </uib-tab> <!-- End Switch to user account  -->
                <!-- Switch to user setting -->
                <uib-tab index="3" heading="Setting" class="page-header">
                    <div class="panel {{panelClass || 'panel-default'}}">
                    <div class="panel-heading">
                         <uib-tabset id="tabsNav">
                             <h2>Setting</h2>
                             <uib-tab index="0" heading="Notification">
                                 <p>
                                     <em>To send notifications please fill out the following fields</em>
                                 </p>
                                 <section ng-hide="note" class="timepunch">
                                     <form ng-submit="nofity()">

                                         <div class="form-group">
                                             <label for="number">Phone number</label>
                                             <input type="tel" class="form-control" id="number" placeholder="e.g. 14074527123" ng-model="user.phone_number" ng-required="true">
                                         </div>
                                         <div class="form-group">
                                             <label for="notify">Alert on</label>
                                             <input type="date" class="form-control" id="notify" placeholder="01/01/2016" ng-model="user.time" ng-required="true">
                                         </div>
                                         <div class="form-group">
                                             <label for="num">Num of times</label>
                                             <select class="form-option" id="num" ng-model="user.notification" ng-options="opt for opt in options.time" ></select>
                                         </div>
                                         <button type="submit" class="btn btn-primary">Submit now</button>
                                     </form>
                                 </section>
                                 <section ng-show="note" class="timepunch">
                                     <h3 class="timepunch-heading">Thank You</h3>
                                     <p>
                                         Your notification request has been receive.
                                     </p>
                                 </section>
                             </uib-tab>
                         </uib-tabset>
                    </div>
                    </div>
                </uib-tab> <!-- End Switch to user setting  -->
            </uib-tabset>    <!-- End Sidebar Navigation Tab  -->
        </div> <!-- End Dashboard Body Content -->
    </div> <!-- End row-->
</div><!-- End container-fluid  -->
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
