<!-- Dashboard Wallpaper -->
<section class="wallpaper">
    <!-- <img ng-show="wallpaper" ng-src="{{wallpaper.url}}" type="{{wallpaper.file.type}}" alt="wallpaper image"> -->
    <img src="../../assets/images/wallpaper1.jpeg" alt="Wallpaper ocean view image of the sun setting in greece take by Jake Barford" />
    <section class="content">
        <div class="container">
            <div class="col-md-3 text">
                <section>
                    <img src="{{user.avatar || employee.avatar}}" alt="User avatar goes here"/>
                    <!-- class="drop-box-dragover" -->
                    <form ng-submit="addAvatar()">
                        <input type="filepicker" data-fp-apikey="A86XHGWhSy6idD2jtHwOwz" ng-model="user.avatar" />
                        <button type="submit" name="button">Upload</button>
                    </form>
                </section>
            </div>
            <section class="col-md-9">
                <article class="profile-details">
                    <div >
                        <div><em class="title">Name: </em>{{ employee.first_name }} {{ employee.last_name }}</div>
                        <div><em class="title">EmployeeID: </em>{{ employee.employeeID }}</div>
                        <div><em class="title">Company: </em><a href="#" editable-text="user.company" onaftersave="addPost()">{{ user.company || employee.company || 'empty' }}</a></div>
                        <div><em class="title">Position: </em><a href="#" editable-text="user.position" onaftersave="addPost()">{{ user.position || employee.position || 'empty' }}</a></div>
                        <!-- <div><em class="title">Description: </em><a href="#" editable-textarea="user.description" e-rows="4" e-cols="30" onaftersave="addPost()">{{ user.description || 'no description' }}</a></div> -->
                    </div>
                </article>
            </section>
        </div>
    </section>
</section>
<div class="container-fluid">
    <div class="row">
        <!-- Dashboard Sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li><h2 class="sidebar-heading">WorkPunch</h2></li>
            </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" ng-click="tab = 0">Time Punch <span class="sr-only">(current)</span></a></li>
            <li><a href="#" ng-click="tab = 1">Sick Leave</a></li>
            <li><a href="#" ng-click="tab = 2">Account</a></li>
            <li><a href="#" ng-click="tab = 3">Setting</a></li>
            <li><a href="#" ng-click="tab = 4">Help & support</a></li>
          </ul>
      </div><!-- End Dashboard Sidebar -->
        <!-- Dashboard Body Content -->
        <div class="col-sm-9 col-md-10 main">
            <h1 class="page-header">Dashboard</h1>
            <!-- Sidebar Navigation Tab -->
            <uib-tabset active="tab" id="dashboard">
                <!-- Switch to Timepunch -->
                <uib-tab index="0" ng-hide="tabs">
                    <div class="panel {{panelClass || 'panel-default'}}">
                        <div class="panel-heading">
                            <uib-tabset>
                                <h2>Time Punch</h2>
                                <uib-tab index="0" heading="Time">
                                    <section>
                                        <!--  -->
                                        <div ng-hide="dateOut || dateIn">
                                            <h3 class="timepunch-heading">Check In</h3>
                                            <div><span>Date:</span> <ds-widget-clock show-digital digital-format="'MMM/dd/yyyy'" ng-model="date"></ds-widget-clock></div>
                                            <!-- theme="blue-light" -->
                                            <div><ds-widget-clock show-digital digital-format="'hh:mm:ss a'" ng-model="time"></ds-widget-clock></div>
                                            <button type="button" name="button" class="btn btn-lg btn-success cta-btn" ng-click="checkIn()" ng-disabled="checked" >Punch In</button>
                                        </div>
                                        <div ng-show="dateIn && !dateOut">
                                            <h3 class="timepunch-heading">Check Out</h3>
                                            <div><span>Date:</span> <ds-widget-clock show-digital digital-format="'MMM/dd/yyyy'" ng-model="date"></ds-widget-clock></div>
                                            <!-- theme="blue-light" -->
                                            <div><ds-widget-clock show-digital digital-format="'hh:mm:ss a'" ng-model="time"></ds-widget-clock></div>
                                            <button type="button" name="button" class="btn btn-lg btn-success cta-btn" ng-click="checkOut()">Punch Out</button>
                                        </div>
                                        <div ng-show="dateIn && dateOut">
                                            <h3 class="timepunch-heading">Next Check In</h3>
                                            <div><span>Date:</span> <ds-widget-clock show-digital digital-format="'MMM/dd/yyyy'"></ds-widget-clock></div>
                                            <!-- theme="blue-light" -->
                                            <div><ds-widget-clock show-digital digital-format="'hh:mm:ss a'"></ds-widget-clock></div>
                                            <button type="button" name="button" class="btn btn-lg btn-success cta-btn" ng-disabled="!checked" >Punch In</button>
                                        </div>
                                    </section>
                                </uib-tab>
                                <!-- Overtime -->
                                <uib-tab index="1" heading="OverTime">
                                    <p>
                                        <em>Note: this information is private and as such will not be stored!</em>
                                    </p>
                                    <form ng-submit="overtime()" class="col-md-8 overtime">
                                        <h3>Calculator</h3>
                                        <div class="form-group">
                                            <label for="amount">Amount per hour</label>
                                            <input type="text" class="form-control" id="salary" placeholder="40" ng-model="amount">
                                        </div>
                                        <div class="form-group">
                                            <label for="amount">Rate per hour</label>
                                            <select class="form-option" id="rate" ng-model="rate" ng-options="opt for opt in options.rate" ></select>
                                        </div>
                                        <div class="form-group">
                                            <label for="hours">Number of hours</label>
                                            <select class="form-option" id="hours" ng-model="time" ng-options="opt for opt in options.time" ></select>
                                        </div>
                                    </form>
                                    <section class="col-md-4 overtime">
                                        <h3>Total</h3>
                                        <p>
                                            ${{amount * rate * time}}
                                        </p>
                                    </section>
                                </uib-tab>
                                <uib-tab index="2" heading="Logs">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Clocked In At
                                            </th>
                                            <th>
                                                Clocked Out At
                                            </th>

                                        </tr>
                                        <tr ng-repeat="time in times">
                                            <td>
                                                {{ employee.firstName }} {{ employee.lastName }}
                                            </td>
                                            <td>
                                                {{time.clockIn  || time.clockOut | date : 'mediumDate'}}
                                            </td>
                                            <td>
                                                {{time.clockIn | date : 'mediumTime'}}
                                            </td>
                                            <td>
                                                {{time.clockOut | date : 'mediumTime'}}
                                            </td>
                                        </tr>
                                    </table>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </uib-tab>  <!-- End Switch to Timepunch  -->
                <!-- Switch to Sick Leave -->
                <uib-tab index="1" ng-hide="tabs">
                    <div class="panel {{panelClass || 'panel-default'}}">
                        <div class="panel-heading">
                            <uib-tabset id="tabsNav">
                                <h2>Sick Leave</h2>
                                <uib-tab index="0" heading="Form">
                                    <form ng-submit="sickLeave($files)" ng-hide="submitted">
                                        <div class="form-group">
                                            <label for="employeeID">EmployeeID</label>
                                            <input type="text" id="employeeID" class="form-control" placeholder="wer45ce995c437c" ng-model="user.employeeID" ng-required="true"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="fName">Number of days</label>
                                            <select class="form-option" ng-model="user.days" ng-options="opt for opt in options.time" ng-required="true"></select>
                                        </div>
                                        <div class="form-group">
                                            <label for="file">Sick leave slip</label>
                                            <input type="filepicker" data-fp-apikey="A86XHGWhSy6idD2jtHwOwz" ng-model="user.file" />{{user.file}}
                                        </div>
                                        <button type="submit" class="btn btn-default" >Sumbit</button>
                                    </form>
                                    <div class="" ng-show="submitted">
                                        <h3 class="timepunch-heading">Check In</h3>
                                        <p>
                                            Your form has been accepted and is waiting for review by your supervisor/manager. We are sorry to heard that you are not feeling well at this time. Thank you for think the time to inform us and hope you feel better soon.
                                        </p>
                                        <!-- <button type="button" class="btn btn-primary" ng-click="sickLeaveForm()">Back</button> -->
                                    </div>
                                </uib-tab>
                                <uib-tab index="1" heading="View">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Day Out
                                            </th>
                                            <th>
                                                Doctor Slip
                                            </th>
                                        </tr>
                                        <tr ng-repeat="x in sick">
                                            <td>
                                                {{ employee.firstName }} {{ employee.lastName }}
                                            </td>
                                            <td>
                                                {{x.daysOutSick}}
                                            </td>
                                            <td>
                                                <img src="{{ x.slip}}"  />
                                                <!-- {{x.slip}} -->
                                            </td>
                                        </tr>
                                    </table>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </uib-tab> <!-- End Switch to Sick Leave  -->
                <!-- Switch to user account -->
                <uib-tab index="2" ng-hide="tabs">
                    <div class="panel {{panelClass || 'panel-default'}}">
                        <div class="panel-heading">
                            <uib-tabset id="tabsNav">
                                <h2>Account</h2>
                                <uib-tab index="0" heading="Account">
                                    <section class="setting" ng-hide="updateName || updateUser || updateEmail || updateID">
                                        <h3>General Account Setting</h3>
                                        <p>
                                            Name: {{ employee.firstName }} {{ employee.lastName }}
                                            <a href="#" role="button" ng-click="editName()">Edit</a>
                                        </p>
                                        <p>
                                            Username: {{employee.username}}
                                            <a href="#" role="button" ng-click="editUser()">Edit</a>
                                        </p>
                                        <p>
                                            Email: {{employee.email}}
                                            <a href="#" role="button" ng-click="editEmail()">Edit</a>
                                        </p>
                                        <p>
                                            CompanyID: {{employee.companyID}}
                                            <a href="#" role="button" ng-click="editID()">Edit</a>
                                        </p>
                                    </section>
                                    <section ng-show="updateUser">
                                        <form ng-submit="addPost()">
                                            <h3>Update Username or password</h3>
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" id="exampleInputText" placeholder="username" ng-model="user.username" ng-required="true">
                                            </div>
                                            <div class="form-group">
                                                <label for="employeeId">Password</label>
                                                <input type="password" class="form-control" id="employeeId" placeholder="Password" ng-model="user.password">
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                            <button type="button" class="btn btn-primary" ng-click="back()">Back</button>
                                        </form>
                                    </section>
                                    <section ng-show="updateName">
                                        <form ng-submit="addPost()">
                                            <h3>Update Name</h3>
                                            <div class="form-group">
                                                <label for="fName">First Name</label>
                                                <input type="text" class="form-control" id="fName" placeholder="John" ng-model="user.firstName" ng-required="true">
                                            </div>
                                            <div class="form-group">
                                                <label for="lName">Last Name</label>
                                                <input type="text" class="form-control" id="lName" placeholder="Smith" ng-model="user.lastName" ng-required="true">
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                            <button type="button" class="btn btn-primary" ng-click="back()">Back</button>
                                        </form>
                                    </section>
                                    <section ng-show="updateID">
                                        <form ng-submit="addPost()">
                                            <h3>Update CompanyID</h3>
                                            <div class="form-group">
                                                <label for="exampleInputText">Company ID</label>
                                                <input type="text" class="form-control" id="exampleInputText" placeholder="company ID" ng-model="user.companyID" ng-required="true">
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                            <button type="button" class="btn btn-primary" ng-click="back()">Back</button>
                                        </form>
                                    </section>
                                    <section ng-show="updateEmail">
                                        <form ng-submit="addEmail()">
                                            <h3>Update Email</h3>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email" ng-required="true">
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                            <button type="button" class="btn btn-primary" ng-click="back()">Back</button>
                                        </form>
                                    </section>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </uib-tab> <!-- End Switch to user account  -->
                <!-- Switch to user setting -->
                <uib-tab index="3" ng-hide="tabs">
                    <div class="panel {{panelClass || 'panel-default'}}">
                    <div class="panel-heading">
                         <uib-tabset id="tabsNav">
                             <h2>Setting</h2>
                             <uib-tab index="0" heading="Setting">
                                 Setting
                             </uib-tab>
                         </uib-tabset>
                    </div>
                    </div>
                </uib-tab> <!-- End Switch to user setting  -->
            </uib-tabset>    <!-- End Sidebar Navigation Tab  -->
        </div> <!-- End Dashboard Body Content -->
    </div> <!-- End row-->
</div><!-- End container-fluid  -->
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
