<div class="container">
    <div class="row">
        <div id="employee-form" class="col-sm-6 col-md-5 col-lg-offset-3 col-lg-6">
            <form ng-submit="registerUser()">
                <h2>Employee Registration Form</h2>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="exampleInputText" placeholder="username" ng-model="user.username" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="employeeId">Password</label>
                    <input type="password" class="form-control" id="employeeId" placeholder="Password" ng-model="user.password" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="fName">First Name</label>
                    <input type="text" class="form-control" id="fName" placeholder="John" ng-model="user.firstName" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="lName">Last Name</label>
                    <input type="text" class="form-control" id="lName" placeholder="Smith" ng-model="user.lastName" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="exampleInputText">Company</label>
                    <input type="text" class="form-control" id="exampleInputText" placeholder="company" ng-model="user.company" ng-required="true">
                </div>
                <button type="submit" class="btn btn-primary">Submit now</button>
            </form>
        </div>
    </div>
</div>
